.menu-description {
	top: 100%;
	max-width: calc(100% - 92px);
	left: 70px;
	width: 100%;
	height: 45%;
	padding-left: 10px;
	padding-right: 10px;
	position: fixed;
	background-color: #5a5a5a;
	z-index: inherit;
	transition: top 200ms ease;
	overflow-y: auto;
	margin: none;
	color: #eee;
	display: flex;
	text-align: left;
}

.course-info {
	min-width: 400px;
}

.description-header {
	margin-block-start: 0;
	padding-top: 0.67em;
}

.description-content {
	display: none;
}

.description-placeholder {
	display: none;
}

.course-info {
	padding-right: 50px;
}