.alert-box {
	min-width: 100px;
	width: 30%;
	max-width: 250px;
	position: absolute;
	z-index: 2;
	left: 50%;
	transform: translate(-50%, 0);
}

#alert-max-expand {
	transition: opacity 200ms;
	top: -200px;
	opacity: 0%;
	display: flex;
}
#alert-empty-filter {
	transition: opacity 200ms;
	top: -200px;
	opacity: 0%;
	display: none;
}
#alert-no-match {
	transition: opacity 200ms;
	top: -200px;
	opacity: 0%;
	display: none;
}
#alert-server-down {
	transition: opacity 200ms;
	top: -200px;
	opacity: 0%;
	display: none;
}