.alert-box {
	min-width: 100px;
	width: 30%;
	max-width: 250px;
	position: absolute;
	z-index: 4;
	top: 0;
	left: 50%;
	top: 20px;
	transform: translate(-50%, 0);
}

#alert-max-expand {
	transition: opacity 200ms;
	opacity: 0%;
	display: flex;
}
#alert-empty-filter {
	transition: opacity 200ms;
	opacity: 0%;
	display: none;
}
#alert-no-match {
	transition: opacity 200ms;
	opacity: 0%;
	display: none;
}
#alert-server-down {
	transition: opacity 200ms;
	opacity: 0%;
	display: none;
}