.menu-filter {
    left: calc(100px - 32%);
    height: 100%;
    min-width: 270px;
    width: 30%;
    padding: none;
    border-style: solid;
    border-width: 1px;
    border-color: azure;
    position: fixed;
    background-color: #3a3a3a;
    z-index: 1;
    transition: left 200ms linear, height 200ms linear;
    overflow: auto;
    margin: none;
    color: #eee;
    display: block;
    text-align: left;
}

.menu-filter h1 {
    margin-block-start: 0;
    padding-top: 0.67em;
}