.menu-filter {
	left: -220px;
	height: 100%;
	width: 270px;
	padding-left: 10px;
	padding-right: 10px;
	position: fixed;
	background-color: #6b6b6b;
	z-index: inherit;
	transition: left 200ms ease, height 200ms ease;
	overflow: auto;
	margin: none;
	border-width: 1px;
	border-color: white;
	color: #eee;
	display: block;
	text-align: left;
}

.menu-filter h1 {
	margin-block-start: 0;
	padding-top: 0.67em;
}

.semester-dropdown {
	width: 80%;
	height: 25px;
	border-radius: 10px;
}

.department-dropdown,
.course-dropdown {
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	color: black;
	font-size: 14px;
	align-items: left;
	max-height: 120px;
	overflow-y: auto;
}

.department-dropdown .department-item,
.course-dropdown .course-item {
	display: flex;
	margin: 2px;
}

.department-dropdown .department-label {
	padding-bottom: 1px;
}

.done-courses {
	width: 78%;
	height: 25px;
	border-radius: 10px;
}

::-webkit-scrollbar {
	display: none;
}

.apply-button {
	font-family: var(--font-family);;
	margin-left: 2px;
	background-color: #9bc;
	border: none;
	outline: none;
	width: 70px;
	height: 30px;
	align-items: center;
	border-radius: 6px;
}

.apply-button:hover {
	background-color: rgb(116, 126, 158);
	cursor: pointer;
	box-shadow: 2px 2px 5px, -2px -2px 5px, 2px -2px 5px, -2px 2px 5px;
}
