a {
    padding-top: 30px;
    text-decoration: none;
    color: #eee;
}

.menu-bar {
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 2;
    background-color:#6b6b6b;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-icon {
    transform: scaleX(-1);
}

.filter-button,
.description-button {
    text-decoration: none;
    padding: 10px 5px;
    width: 75px;
    text-align: center;
    font-size: 12px;
    background-color: #47738d;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
}

.menu-content {
    left: 100px;
    height: 100%;
    min-width: 0;
    width: 0px;
    padding: none;
    border-style: solid;
    border-width: 1px;
    border-color: azure;
    position: fixed;
    background-color: #3a3a3a;
    z-index: 1;
    /* transition: width 300ms; */
    overflow-y: scroll;
    margin: none;
}

.menu-content-text {
    width: 100%;
    color: #eee;
    display: none;
    position: absolute;
    text-align: left;
}

.menu-content-text h1 {
    margin-block-start: 0;
    padding-top: 0.67em;
}

.menu-filter {
    border-bottom: solid;
    padding-bottom: 30px;
}