.departments-label {
	padding-left: 2px;
}

.departments-container {
	width: 250px;
	padding: none;
	margin: 7px 0px 0px 3px;
	padding: 0;
	border-radius: 3px;
	display: flex;
	align-items: center;

}

.departments-search {
	flex: 1;
	font-size: 12px;
	width: 100%;
	height: 30px;
	margin: none;
	padding-left: 10px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border: none;
	outline: none;
	color: #555;
	margin-block-end: 0;
}

.departments-expand,
.departments-collapse {
	background-color: white;
	color: #555;
	width: 30px;
	height: 32px;
	padding: none;
	margin: none;
	border-width: 0;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.departments-expand:hover,
.departments-collapse:hover {
	cursor: pointer;
	background-color: grey;
	color: white;
}

.departments-suggestions {
	width: 250px;
	max-height: 300px;
	margin: 2px 0px 10px 3px;
	border-radius: 3px;
	background-color: #f8f7f7;
	color: #555;
	font-size: 12px;
	overflow-y: auto;
	z-index: 2;
	position: absolute;
	display: none;
}

.departments-suggestions ul {
	padding-left: 5px;
	padding-right: 5px;
	margin-block-start: 5px;
	margin-block-end: 5px;
}

.departments-suggestions ul li {
	list-style: none;
	border-radius: 3px;
	padding-top: 5px;
	padding-bottom: 6px;
	padding-left: 6px;
	cursor: pointer;
}

.departments-suggestions ul .departments-choices:hover {
	background: #e9f3ff;
}

.departments-selected {
	background-color: rgb(220, 220, 220);
	margin: 2px 0px 0px 3px;
	padding: 5px 10px;
	width: 230px;
	border-radius: 3px;
	font-size: 12px;
	align-items: center;
}

.departments-selected .selected-option {
	background-color: #99ccaa;
	width: fit-content;
	height: fit-content;
	padding: 3px 6px;
	margin: 3px 0px;
	border-radius: 3px;
	display: flex;
	align-items: center;
}

.selected-label {
	color: #333;
	padding-right: 10px;
	transition: color 200ms;
}

.deselect {
	color: #333;
	width: 10px;
	height: 16px;
	padding: none;
	margin: none;
	border-width: 0;
	cursor: pointer;
}

.department-warning {
	padding-left: 2px;
	font-size: small;
	color: #ff6363;
}